// Import Fonts
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
$font-family-base: "Rubik";

// Import Functions
@import "../../node_modules/bootstrap/scss/functions";

// Global Variables
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;

// Import Variables
@import "../../node_modules/bootstrap/scss/variables";

// Import Mixins
@import "../../node_modules/bootstrap/scss/mixins";

$theme-colors: map-remove($theme-colors, "danger", "primary");

// my custom colours
$custom-colors: (
  "test": rgb(255, 211, 67),
  "primary": rgb(19, 94, 240),
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// spacing
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 2,
  5: $spacer * 4,
  6: $spacer * 65,
);

// rounded
$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 3rem;

.navbarlogo {
  color: #44ac20;
  text-decoration: none;
  margin-left: 1.5rem;
  padding-right: 1rem;
  font-size: 24px;
  font-family: "Rubik", sans-serif;
}

.searchbar {
  display: flex;
}

.searchinput {
  height: 3.5rem;
  width: 35rem;
  outline: none;
  box-shadow: none;
}

.login {
  color: #44ac20;
}

.signup {
  color: #44ac20;
}

.findyourpath {
  font-family: "Rubik", sans-serif;
}

.findyoureventpath {
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding-top: 10rem;
}

.eventpath {
  font-weight: 700;
}

.mypathbutton {
  width: 200px;
  height: 4rem;
  text-align: left;
  color: white;
  gap: 3rem;
  border-radius: 5rem;
  justify-content: center;
  align-items: center;
  font-size: 21px;
}

.arrow {
  font-size: 24px;
}

.trendingindublin {
  padding-top: 6rem;
  gap: 1rem;
}

.trendingin {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.downchevron {
  font-size: 21px;
}

.dublin {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.rectangle {
  height: 5px;
  width: 200px;
  background-color: #ededf1;
}

.trendingindublin {
  padding-top: 10rem;
  padding-left: 25rem;
  padding-bottom: 5rem;
}

.eventcard {
  width: 20.625rem;
  margin-left: 1rem;
  font-family: "Rubik", sans-serif;
}

.cardshare {
  gap: 8rem;
}

.cardlink {
  text-decoration: none;
  color: inherit;
}

.cardlink:hover {
  text-decoration: none;
  color: inherit;
}

.eventcardrow {
  justify-content: center;
  padding-top: 1rem;
}

// import bootstrap - ALWAYS at very end
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
